<%= partial "partials/head" %>
</head>
<body>

  <%= partial "partials/nav" %>

  <%= partial "partials/header" %>

  <div class="container">
    <%= yield %>
  </div>


  <%= javascript_include_tag "all" %>

</body>
</html>
