<%= partial "partials/head" %>
</head>
<body>

  <%= partial "partials/nav" %>

    <div class="container">
      <div class="row">
        <main role="main">
          <article lang="en">
            <h1 class="post__title"><%= current_page.data.title  %></h1>
            <p class="post__date">Posted on <%= current_page.data.date  %></p>
            <hr>
            <%= yield %>
          </article>
        </main>
      </div>
    </div>


  <%= javascript_include_tag "all" %>

</body>
</html>
